name: Generate Snake Animation

on:
  # 每天北京时间凌晨3点运行
  schedule:
    - cron: '0 19 * * *'
  # 手动触发
  workflow_dispatch:
  # 推送到main分支时触发
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Generate Snake Animation

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Generate GitHub Snake Animation
        uses: Platane/snk/svg-only@v3.4.1
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4.0.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
          force_orphan: true