name: Generate 3D Profile Contribution

on:
  # 每天北京时间凌晨3点运行
  schedule:
    - cron: "0 19 * * *"
  # 手动触发
  workflow_dispatch:
  # 推送到main分支时触发
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib

    steps:
      - uses: actions/checkout@v4

      - uses: yoshi389111/github-profile-3d-contrib@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          MAX_REPOS: 100

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          if git commit -m "generated 3D profile contribution graph"; then
            git pull --rebase
            git push
          fi